<h2><%= @fact.true_content %> </h2><br><br>
<%= link_to @fact.receipt_url, @myth_fact %>

<% @myth.facts.each do |fact| %>
    <h2><%= fact.true_content %> </h2><br><br>
    <%= link_to fact.receipt_url, @myth_fact %>
 
    
<%end%>

<a href="/">Search</a>