/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

body {
  background: $blue-100;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
}

main {
  margin: 2rem 0;
  min-height: calc(100vh - (2rem * 2) - (56px * 2)); // remove margins & header/footer
}

h1 + p {
  font-style: italic;
  max-width: 600px;
}

h1 span {
  font-style: italic;
  font-weight: normal;
}

h2 {
  margin: 1.5rem 0;
}

h4 {
  font-size: calc(1.125rem + 0.3vw);
}

i {
  &.danger {
    color: $danger;
    margin-right: .5rem;
  }
  &.success {
    color: $success;
    margin-right: .5rem;
  }
}

a {
  &.destroy {
    color: $danger;
  }
  &.edit {
    color: $secondary;
  }
}

footer {
  small {
    color: #fff;
  }
}

img.hero {
  margin: 0 auto;
  max-height: 50vh;
  width: auto;
}
.card {
  &-header {
    padding: 0.75rem 1rem;
  }
  &-body {
    font-style: italic;
    padding: 1.5rem 2.25rem 1.25rem;
  }
}

form .card-body {
  padding: 0;
  
  textarea {
    padding: 1.5rem 2.25rem 1.25rem;
    min-height: 35vh;
  }
}

.external-link-container {
  a {
    padding: 1em;
  }

  .row {
    text-align: center;
    margin: 1.5em 0 1.5em;
  }
}

#error_explanation:not(.error-container) li {
  color: $danger;
}

.error-container {
  margin: 0 auto;
  max-width: 50vw;

  ul {
    margin: 0 auto;
    max-width: 25vw;

    li {
      padding: .5rem 0;
    }
  }
}