<header>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand flex-grow-1" href="/">Kamala Facts</a>
      <%= form_tag myths_path, class: "form-inline d-flex flex-grow-1", :method => 'get' do %>
        <label class="visually-hidden" for="searchInputHeader">Search</label>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], :id => 'searchInputHeader', :class => 'form-control form-control-sm', :placeholder => "Search", :aria_label => "Search" %>
          <%= button_tag "", name: nil, :class =>'fas fa-search' %>
        </div>
      <% end %>
    </div>
  </nav>
</header>
<script>
  document.getElementById("searchInputHeader").value = "";
</script>
